<html>
<head>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


</head>
  <form  #form="ngForm" (submit)="onClickLogin()" class="well form-horizontal"  id="contact_form">
    <fieldset>


      <legend><h2><b>Login Form</b></h2></legend><br>
      <div class="form-group">
        <label class="col-md-4 control-label">UserId</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  placeholder="UserId" class="form-control"  id="UserId" type="text" required name="UserId" [(ngModel)]= "credentials.UserId" #id="ngModel">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" >Password</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input placeholder="Password" class="form-control"  type="password" required name="Password" [(ngModel)]="credentials.Password" #password="ngModel">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-warning" [disabled]="!form.form.valid" >SUBMIT<span class="glyphicon glyphicon-send"></span></button>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 social-login">
            <h4>...or login with:</h4>



            <div class="social-login-buttons">
              <a class="btn btn-link-2" href="#">
                <i class="fa fa-facebook"></i> Facebook
              </a>
              <a class="btn btn-link-2" href="#">
                <i class="fa fa-twitter"></i> Twitter
              </a>
              <a class="btn btn-link-2" href="#">
                <i class="fa fa-google-plus"></i> Google Plus
              </a>
            </div>
          </div>
        </div>
      </div>

    </fieldset>

  </form>
</html>




