<div class="row">
  <div class="col-sm-9">
    <div *ngIf="!hideNewVedio">
      <h2>New Vedio</h2>
      <form #form="ngForm" (ngSubmit)="onSubmitAddVedio(form.value)" class="well">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" required name="title" ngModel>
        </div>
        <div class="form-group">
          <label>Url</label>
          <input type="text" class="form-control" required name="url" ngModel>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" name="description" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <vedio-detail (updateVedioEvent)="onUpdateVedioEvent($event)" (deleteVedioEvent)="onDeleteVedioEvent($event)"
                  *ngIf="selectedVedio && hideNewVedio" [vedio]="selectedVedio"></vedio-detail>
  </div>
  <div class="col-sm-3">
    <button (click)="newVedio()" style="margin-bottom:2px;" type="button" class="btn btn-success btn-block">Add Vedio
    </button>
    <vedio-list (SelectVedio)="onSelectVedio($event)" [vedios]="vedios"></vedio-list>
    <app-pagination></app-pagination>
  </div>

</div>
